body {
  background-color: rgb(201, 229, 238);
}

img {
  width: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.content {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
